.uni-title-wrapper {
  display: flex;
  align-items: center;
  .gap {
    height: calc(var(--font-size-18) + 5px);
    width: 4px;
    background-color: var(--main-color);
    margin-right: 10px
  }
}