.not-fond {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-grey);
  height: 100%;
}
.page-redirect {
  .sub-title {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }

  .target-url {
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 4px;
    word-break: break-all;
    margin: 16px 0;
    color: var(--font-color);
  }
}




