.panel {
  display: flex;
  align-items: center;
  row-gap: 14px;
  justify-content: space-between;
  > div {
    &:first-child {
      display: flex;
      align-items: center;
      > div {
        margin-right: 14px!important;
        margin-bottom: 0px!important;
      }
    }
  }
}
